.heading{
  display: flex;
  justify-content: center;
}
h1, h3 {
  font-family: 'Italianno', cursive;
  font-size: 100px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
}
.item {
  height: 90vh;
  background-size: cover;
  background-position: center;
  font-family: 'Italianno', cursive;
  flex: 1;
  margin: 5px;
  position: relative;
}
.container {
  display: flex;
}
body {
  background-color:#f6f6f6;
}
h4 {
  position: absolute;
  top: 15px;
  left: 40px;
  width: 100px;
  background-color: #fff;
  color: #000000;
  font-size: 0;
}
.par {
  position: absolute;
  top: 100px;
  left: 40px;
  background-color: #fff;
  color: #000000;
  font-size: 0;
}
.price {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background-color: #fff;
  color: #000000;
  font-size: 0;
}
.selected {
  flex: 4;
}
.selected h4 {
  font-size: 40px;
  transition: all 1s ease-in;
}
.selected .par {
  font-size: 30px;
  transition: all 1s ease-in;
}
.selected .price {
  font-size: 45px;
  transition: all 1s ease-in;
}
label {
  font-family: 'Italianno', cursive;
  font-size: 30px;
}
.text-input {
  background-color: #f6f6f6;
  border: none;
  padding: 15px 20px;
}
.btn {
  background-color: #c4a6d1;
  font-family: 'Italianno', cursive;
  font-size: 40px;
  flex: 1;
  }
.one {
  background-image: url('./image/1.jpg');
}
.two {
  background-image: url('./image/2.jpg');
}
.three {
  background-image: url('./image/3.jpg');
}
.four {
  background-image: url('./image/4.jpg');
}
.five {
  background-image: url('./image/5.jpg');
}
.six {
  background-image: url('./image/6.jpg');
}
@media all and (max-width: 800px){

}
@media all and (max-width: 500px){
  
}